 {{> header }}
<h3> Top Countries affected with covid-19</h3>
<hr>

     {{#list countriesAffected}}
        
        <h4>{{CountryName}}: {{Totalaffected}}</h4>

     
     
     {{/list}}


{{> footer }}